<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatWebServer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChatWebServer.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- Default Navbar Content -->
        <nav class="navbar navbar-expand-md row">
            <div class="navbar-menu col-md-6">
                <img src="/img/menu-icon.png" alt="menu-icon" width="40" onclick="manageSideBar()" />
            </div>
            <!-- Navbar links -->
            <div class="navbar-nav col-md-6">
                <button type="submit" class="btn btn-danger nav-link" id="logoutBtn">Logout</button>
                <!-- Default Navbar Link(s) -->
                @RenderSection("NavbarLinks", required: false)
            </div>
        </nav>
    </header>
    <!-- Sidebar menu -->
    <div id="mySidenav" class="sidenav">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
    <div class="container">
        <main id="main" role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
