@model ChatWebServer.Models.User
@{
    ViewData["Title"] = "Chat Page";
}

@section NavbarLinks {
    <button type="button" class="btn btn-primary" id="manageAccountBtn">My Account</button>
}
<div class="text-center">
    <div class="chat-container" id="msgs">
        <!-- Messages will be dynamically added here -->
    </div>

    <div id="inputBox">
        <input type="text" id="messageField" placeholder="Type a message and press Enter" />
    </div>

    <dialog id="manageAccountDialog">
        <h3>Account Settings</h3>
        <form method="dialog">
            <div class="form-group">
                <label for="userUpdateUsername">Username</label>
                    <input type="text" class="form-control" id="userUpdateUsername" value="@Model.Username">
            </div>
                <div class="form-group">
                    <label for="userUpdatePassword">Password</label>
                    <input type="text" class="form-control" id="userUpdatePassword" placeholder="Update Password">
                </div>
            <button type="submit" onclick="userUpdateUser()">Apply</button>
        </form>
    </dialog>
</div>

@* Escape the username and store it in a JavaScript variable *@
<script>
    var userName = @Json.Serialize(Context.User.Identity.Name);
    var currentUser = JSON.parse('@Html.Raw(ViewBag.SerializedUser)');

    const manageAccountBt = document.getElementById("manageAccountBtn");
    const updateUsernameInput = document.getElementById("userUpdateUsername")

    manageAccountBt.addEventListener("click", () => {
        manageAccountDialog.showModal();
    });

    function userUpdateUser() {
        let passwordInput = document.getElementById("userUpdatePassword");
        let usernameInput = document.getElementById("userUpdateUsername");
        
        let username = usernameInput.value;
        let password = passwordInput.value;
        let userID = currentUser.UserID;
        let role = currentUser.Role;
        let isActive = currentUser.IsActive; 

        if (password === "") password = currentUser.Password


        const formData = new FormData();
        formData.append("UserID", userID);
        formData.append("Username", username);
        formData.append("Password", password)
        formData.append("Role", role);
        formData.append("IsActive", isActive);

        if (confirm("Are you sure you want to update the settings?")) {
            fetch("/Home/UserUpdateUser", {
                method: "POST",
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    // Reload the page after successful update
                    window.location.reload();
                })
                .catch(error => {
                    console.error("Error updating user:", error);
                });
        }

    }

</script>