@model ChatWebServer.Models.User
@{
    ViewData["Title"] = "Chat Page";
}

@section NavbarLinks {
    <button type="button" class="btn btn-primary" id="manageAccountBtn">My Account</button>
}
<div class="text-center">
    <div class="chat-container" id="msgs">
        <!-- Messages will be dynamically added here -->
    </div>

    <div id="inputBox">
        <input type="text" id="messageField" placeholder="Type a message and press Enter" />
    </div>
</div>


<script>
    var currentUser = JSON.parse('@Html.Raw(ViewBag.SerializedCurrentUser)');
</script>