@model string
@{
    ViewData["Title"] = "Chat Page";
}

<div class="text-center">
    <div class="chat-container" id="msgs">
        <!-- Messages will be dynamically added here -->
    </div>

    <div id="inputBox">
        <input type="text" id="messageField" placeholder="Type a message and press Enter" />
    </div>
</div>

@* Escape the username and store it in a JavaScript variable *@
<script>
    var userName = @Json.Serialize(Model);
</script>