@model string
@{
    ViewData["Title"] = "Chat Page";
}

@section NavbarLinks {
    <button type="button" class="btn btn-primary" id="manageAccountBtn">My Account</button>
}
<div class="text-center">
    <div class="chat-container" id="msgs">
        <!-- Messages will be dynamically added here -->
    </div>

    <div id="inputBox">
        <input type="text" id="messageField" placeholder="Type a message and press Enter" />
    </div>
</div>

@* Escape the username and store it in a JavaScript variable *@
<script>
    var userName = @Json.Serialize(Context.User.Identity.Name);
</script>