@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form action="@Url.Action("Index")" method="post">
        <input type="text" placeholder="Insert username" name="username" />
        <input type="text" placeholder="Insert password" name="password" />
        <input type="submit" value="Enter" />
    </form>
</div>
