html {
    font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding-bottom: 60px;
    background-color: #333333;
}

.chat-container {
    max-width: 800px;
    margin: 0 auto;
    overflow-y: auto;
    flex: 1;
    padding-top: 80px; 
}

.message {
    color: white;
    background-color: #2F4F4F;
    padding: 8px 12px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
    word-break: break-word;
}

#inputBox {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    background-color: #2F4F4F;
}

#messageField {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: #2F4F4F;  
    color: white;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-control {
    background-color: #2F4F4F;
    border: none;
    color: white;
}

.form-control:focus {
    background-color: #2F4F4F;
    border: none;
    color: white;
    box-shadow: none;
}

.form-control::placeholder {
    color: white;
}

.btn-primary {
    background-color: #2F4F4F;
    border: none;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #27403E;
    box-shadow: none;
}

#openAdminModalBtn {
    background-color: #27403E;
    color: white;
}

#logoutBtn {
    color: white;
}

dialog {
    background-color: #333333;
    color: white;
    border: 2px solid #2F4F4F;
    border-radius: 8px;
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    width: 50%;
}

form {
    margin-top: 10px;
}

.btn-update {
    background-color: #337ab7;
}

#userList {
    display: flex;
    flex-direction: column;
}

/* Styling for the user-box and user-info */
.user-box {
    background-color: #2F4F4F;
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    padding-right: 1em;
    padding-left: 1em;
}

.user-box p {
    margin: 0;
}

.user-box:hover {
    background-color: #27403E;
}

.user-info {
    background-color: #27403E;
    padding: 10px;
    border-radius: 5px;
}

/* Button styles */
button {
    background-color: #27403E;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #2F4F4F;
}

/* Styling for the custom checkbox */
.checkbox-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* Hide the default checkbox */
.checkbox-container input {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #2F4F4F;
    border-radius: 3px;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #444;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/*.admin {
    color: red; 
}*/

.navbar {
    border-bottom: solid 1px white; 
    padding: 10px;
}

.nav-item {
    margin-right: 10px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    color: white;
}

.chat-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto;
    flex: 1;
    padding-top: 80px;
}

/* Mobile devices */
@media (max-width: 767px) {

    .chat-container {
        padding-top: 20px;
    }

    .text-center {
        position: relative;
        height: 100vh;
    }

    html {
        font-size: 16px;
    }

}

